
.userCodeView {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  

}

.userView h1{
  margin-top: 30px !important;

}


.code__titleDiv {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0px;

  .code__name {
    margin: auto 2px auto 2px;
    font-weight: 800 !important;
    font-size: 1.4rem !important; 
  }

    .code__codeType {
      max-width: auto;
      min-width: 75px;
      margin: auto;
      
      font-size: 14.5px;
      font-style: oblique;
      text-align: center;
      background: rgba(167, 255, 95, 0.623);
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
      border-radius: .25rem;
    }
}


.codeCard_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem auto;
}


// button.deleteButton{
//   background-color: lightcoral;

// }



.code__list {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  justify-content: space-evenly;
  

  .code__card {
    flex: auto;
    margin: 30px ;
    padding: .6em;
    display: flex;
    flex-direction: column;
    justify-content: space;
    text-align: center;
    max-width: 700px;
    background: rgba(128, 125, 125, 0.6);
    // border: .01em solid  rgba(187, 185, 185, 0.306);
    // -moz-box-shadow: 0px 0px 1px -20px rgba(0,0,0,1);
    // box-shadow: 0px 0px 1px -20px rgba(0,0,0,1);
    border-radius: .25rem;
    }
}

.syntaxHighlightBlock {
    // background: white;
    // text-align: left;
    // contain: content;
    // overflow: hidden;
    padding: .6em;
    margin: 0em;
    // color: white !important;
    // background: rgb(21, 18, 39);
    // box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5);
    // border-radius: .5cm;
}

select {
  max-width: 200px;
  margin: auto;
}
.code__text {
  overflow-y: none;
  padding: 1em;
  margin: 10px;
  width: auto;
  background: rgba(244, 245, 247, 0.096);
  border-radius: .25rem;
}

html {
  font-size: 16px;
 }
 
 body {
  font: 100% / 1.414 sans-serif;
 }
 
 form {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  max-width: 600px;
 }
 
 fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  
  & + & {
   margin-top: 24px;
  }
 }
 
 label {
  margin-bottom: 8px;
  display: block;
  color: #2b2e4a;
 }
 
 input:not([type=checkbox]):not([type=radio]),
 select,
 textarea {
  padding: 8px;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #bdc3c7;
  border-left: 0;
  transition: border-bottom-color .15s ease-in;
  
  
  &:focus {
   outline: 0;
   border-bottom-color: #3fc1c9;
  }
 }
 
 input[type=checkbox],
 input[type=radio] {
  margin-right: 8px;
 }
 
 textarea {

  min-height: 5em;
	max-height: 50vh;
	width: 100%;
 }
 
 button {
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  background-color: #3fc1c9;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color .15s ease-in;
  
  &:focus:active {
   background-color: darken(#3fc1c9, 8%);
  }
  
  &:focus {
   outline: 0;
  }
  
  &:hover {
   background-color: lighten(#3fc1c9, 15%);
  }
 }

 .note__card {
   margin: 1rem auto;
   max-width: 315px;
 }

  .addNote {
    margin: .35em;

   
 }
.note__buttons {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: -10px auto 5px auto;
}

.topOfPage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.topOfPage select {
  margin-top: 2em;
}


.dashboardCodeView select {
  margin: 2em 13.3em;
}

.copy_code {
  margin-top: -7px;
}

.deleteButton {
  margin-left: 6.5px;
}


.user__name {
  margin: auto .55em auto -1.0em;
  background: white;
  padding: .2rem .4rem;
  text-align: right;
  font-weight: 800;
  font-size: 1.5em;
  box-shadow: -6px 5px 7px 2px rgba(0, 0, 0, 0.52);
  border-radius: .25rem;
}

.badge {
  font-size: 110% !important;
  margin: auto 1em auto 0.5em !important;
  background: rgba(153, 50, 204, 0.692) !important;
  padding: .4rem;
  box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.52);
}

