div.form__div
{
    display: block;
    text-align: center;
}

  section.code {
      margin: 20px auto;
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 550px;
      max-height: auto;
      background: #D3D3D3;
      box-shadow: 0px 10px 10px rgba(240, 76, 237, 0.353);
  }

.code__name {
  margin: 20px auto;
  text-decoration: underline black;
}
.code__codeType {
  background: white;
  max-width: auto;
  margin: auto;
}
.code__codeSnippet {
    background: white;
    overflow-y: scroll;
    max-height: 250px;
    margin: 10px auto;
}
.code__text {
    background: white;
    margin: 10px auto;
}

form {
  margin: 0 auto;
  display: inline-block;
}
.CodeForm {
    padding: 1em;

    width: 750px;
    height: 555px;
    background: #D3D3D3;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    display: inline-block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: left;

}



/* 
.current__code < section {

    background-color: white;
    
} */