div.form__div
{
    display: block;
    text-align: center;
}

  section.code {
      margin: 20px auto;
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 550px;

      background: #D3D3D3;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.748);
      border: none;
    border-radius: .5cm;
  }

.code__name {
  margin: 10px auto;
  width: 175px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  border-radius: .5cm;

}
.code__codeType {
  background: white;
  max-width: auto;
  margin: auto;
  width: 150px;
  font-size: 15px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.35);
  border-radius: .5cm;
}

button {
  width: 100px;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.35);
  border-radius: 6cm;
  font-weight: 700;
}

button.deleteButton{
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 6cm;
}

.codeCard_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: .5cm;
}
.code__codeSnippet {
    background: white;
    overflow-y: scroll;
    padding: 1em;
    margin: 10px auto;
    width: auto;
    background: #FFFFFF;
    box-shadow: inset 5px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: .5cm;
}
.code__text {
  background: white;
  overflow-y: scroll;
  padding: 1em;

  margin: 10px;
  width: auto;
  background: #FFFFFF;
  box-shadow: inset 5px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: .5cm;
}


form {
  margin: 0 auto;
  display: inline-block;
  border-radius: .5cm;
}
.CodeForm {
    padding: 1em;
    width: 750px;
    height: 555px;
    background: #D3D3D3;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    display: inline-block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: left;
    border-radius: .5cm;

}



/* 
.current__code < section {

    background-color: white;
    
} */