h2 {
    margin-top: 40px;
    font-size: 1.5rem;
    background: transparent;
}



.form--login {
    display: inline-block;
    margin: auto;
    text-align: center;
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 28em;
}

.label--login {
    width: 4rem;
    display: inline-block;
} 


.container--login {
    text-align: center;
}

.login__section {

   
    width: 500px;
    height: 400px;
    margin: 5em auto;


}
.link--register a {
    text-decoration: none !important;
    color: black;
    margin-top: 100px;
    
}
.register__section {

   
    width: 600px;
    height: 550px;
    margin: 2em auto;

} 

.darkLogo {
    max-width: 250px;
    text-align:center;
    margin: auto;
}

