h1 {
    font-size: 1.5rem;
    /* color: slateblue; */
    background: transparent;
    /* text-shadow: -1px -1px 1px rgb(255, 255, 255), 1px 1px 1px rgba(3, 0, 0, 0.897); */
}

/* fieldset {
    min-width: 0;
    padding: .07rem 0;
    margin: 0;
    border: 0;
} */

.form--login {
    display: inline-block;
    margin: auto;
    text-align: left;
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 20em;
}

.label--login {
    width: 3rem;
    display: inline-block;
}


.container--login {
    text-align: center;
}

.login__section {

   
    width: 500px;
    height: 400px;
    margin: 5em auto;
    background: rgba(202, 198, 198, 0.503);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.448);

}
.link--register a {
    text-decoration: none !important;
    color: black;
    
}
.register__section {

   
    width: 600px;
    height: 550px;
    margin: auto;
    background: #EEECEC;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);

}

